<div id="about" class="container-narrow">
  <div class="jumbotron">
    <h1>Our problems will make us stronger</h1>

    <p>I read the caffeine withdrawal forums for 3 years. 
      Its been over 6 months since I quit caffeine, but I never got better. 
      My improvement was very subtle and would happen not by the day but could be 
      felt (almost imperceptibly) every two weeks. I was not getting my work done. 
      I lied over and over again about what I was accomplishing during the day. 
      Luckily I was a able to work from home as I was not able to work a full day 
      in an office. 
    </p>
    <p>I thought I was getting better then after 3 months I caught a 
      cold and it knocked me out for 2 weeks. It was like starting from day one of 
      caffeine withdrawal all over again. Laying in my bed that night the concept 
      "adrenal fatigue" popped into my head. I read up on it and it described 
      everything I was going through. I read everything I could about it but it 
      was still hard to figure out what road to take. The online doctors who seem 
      to know the most about it charge a lot of money which I dont have anymore. 
      Even still with the help of a book, online articles and forum posts 
      I patched together a plan and I started feeling better each day. However my 
      improvement kind of plateaued so I tried more supplements and finally it 
      seems to be working. 
    </p>
    <p>This process has taken away years off my life and cost
      thousands of dollars in medical bills. Particulary expensive was the
      overnight sleep study and the xyrem (ghb).
    </p>
    <p class="lead">This site is my attempt to help the struggling.</p> 
    <p class="lead" style="float: right">Sincerely,<br>Bobby</p> 
  </div>
</div>
