<div id="ask">
  <h1>We are just getting started and fielding questions so please ask your question and let us 
      know how much you would pay to have it answered. Thanks!
  </h1>
  <div class="small-content">
    <!--<h2>Ask your question</h2>-->
    <form>

      <label>Question</label>
      <textarea type="text" name="question"></textarea>

      <label>Email</label>
      <input type="text" name="email">

      <label>Price</label>
      <input type="text" name="price">

      <button class="btn btn-warning btn-large" type="submit" >Send</button>
    </form>
  </div>
</div>
