<div id="banner">
  <div class="container">
    <img src="/img/logo-large.png"/>
    <h1>Helping property managers find and communicate with their vendors</h1>
  </div>
</div>
<div class="home">
  <div class="container">
    <form class="form-inline">
      <label>Sign Up to be the first to know about our lauch</label>
      <input type="text" name="email" placeholder="Email">
      <button class="btn btn-info" type="submit" >Go</button>
    </form>

    <div id="howItWorks">
      <h2>How it works</h2>
        <ul class="clearfix">
          <li>
            <img src="/img/howItWorks_1.jpg"/>
            <p><b>Ask</b> for help finding vendors by entering your detailed job description.</p>
          </li>
          <li>
            <p><img src="/img/howItWorks_2.jpg"/></p>
            <p><b>Receive replies</b> from the vendors and start communicating with them to discuss
              the jobs specifics, scheduling, and price.
          </li>
          <li>
            <p><img src="/img/howItWorks_3.jpg"/></p>
            <p><b>Pick a winner</b> based on your discussion with all of the vendors</p> 
          </li>
        </ul>
    </div>
  </div> 
</div>
