<div class="home">
  <div id="letter">
    <p>Hello,</p> 
    <p>This will be a place to help people dealing with adrenal fatigue and caffeine withdrawal. You ask a 
       question and pay what you feel its worth to get answered (free right now). Nutritionist, doctors, 
       naturopaths, and regular people who have already been through it will answer your question.
       The person who gives the best answer will win your money. I am just 
       starting out so please email me if you have any questions: bobby@cribum.com.
    </p>
    <p style="float: right">- Bobby</p>
  </div>
  <div id="signup">
    <p>Signup for more info</p>
    <form class="form-inline">
      <label class="control-label" for="inputEmail">Email</label>
      <input type="text" name="email" id="inputEmail" placeholder="Email">
      <button class="btn btn-info" type="submit" >Go</button>
    </form>     
  </div>
  <div id="howItWorks">
    <h2>How it will work</h2>
      <ul class="clearfix">
        <li>
          <img src="/img/howItWorks_1.jpg"/>
          <p><b>Ask</b> for help with whatever symptom you are dealing with.</p>
        </li>
        <li>
          <p><img src="/img/howItWorks_2.png"/></p>
          <p><b>Receive replies</b> from the doctors, nutritionists and people who have already been there.
        </li>
        <li>
          <p><img src="/img/howItWorks_3.png"/></p>
          <p><b>Pick a winner</b> based on your communication with the people who offered help</p> 
        </li>
      </ul>
  </div>
</div>
