<div id="linkedin">
  <div id="letter">
    <p>Hello,</p> 
    <p>I am starting a Q&amp;A site for adrenal fatigue (HPA axis dysfunction)
       and caffeine withdrawal. 
       You will be paid if you give a winning answer.
    </p>
  </div>
  <div class="row">
    <div class="span6 question">
      <h2>Question <span id="dollarValue">(&#36;20)</h2>
      <h3>Is tyrosine helpful for adrenal fatigue?</h3>
      <p>
         I understand that tyrosine converts to adrenaline (epinephrine), noradrenaline and dopamine.
         But I do not know if stimulating the production of these
         "excitatory" hormones is a good thing for the recovery of the adrenal glands?
      </p>
      <p>-Chris</p>
    </div>
    <div class="span6 answer">
      <h2>Your Answer</h2>
      <form>
        <div class="form-horizontal">
          <div class="control-group">
            <textarea name="answer" placeholder="Answer"></textarea>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputEmail">Email</label>
            <div class="controls">
              <input type="text" name="email" id="inputEmail" placeholder="Email">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputName">Name</label>
            <div class="controls">
              <input type="text" name="name" id="inputName" placeholder="Name">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button class="btn btn-info" type="submit" >Send</button>
            </div>
          </div>
        </div>
      </form>     
    </div>
  </div>
</div>
