<div id="banner">
  <div class="container">
    <p>Hello,</p> 
    <p>Thank you for coming to my site from LinkedIn. 
        I have a very important health question that affects me immensely. 
        If I get helpful answers I would like to start
        a website for people who have questions like mine. 
    </p>
    <p style="float: right">
       Thank you,<br>
       Bobby Chambers
    </p>
    </p>
  </div>
</div>
<div class="home">
  <div class="container">
    <div class="row">
      <div class="span6 question">
        <h2>My Question</h2>
        <p>Why would taking .5 mg  of melatonin or 200mg of calcium citrate cause me to be groggy for four days?
          I am 31 years old and abused caffeine for about 20 years. Could the stimulants have
          increased the number of GABA receptors? Could it be impaired kidney, liver or adrenal function?
          If you need me to answer more questions just let me know. My email is bobby.chambers33@gmail.com or I provided 
          form on the right.
        </p>
      </div>
      <div class="span6 answer">
        <h2>Your Answer</h2>
        <form>
          <div class="form-horizontal">
            <div class="control-group">
              <textarea name="answer"></textarea>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputEmail">Email</label>
              <div class="controls">
                <input type="text" name="email" id="inputEmail" placeholder="Email">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputName">Name</label>
              <div class="controls">
                <input type="text" name="name" id="inputName" placeholder="Name">
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <button class="btn btn-info" type="submit" >Send</button>
              </div>
            </div>
          </div>
        </form>     
      </div>
    </div>
  </div> 
</div>
